<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="Author" content="Aubrey Falconer (.com)"/>
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="viewport" content="width=1000"/>
    <title>Robert Miller: Designer</title>
    <script type="text/javascript" src="/dat/site.js"></script>
    <link rel="stylesheet" href="/dat/site.css{{ cache_buster }}" type="text/css"/>
    <link href='http://fonts.googleapis.com/css?family=Vollkorn&subset=latin' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
    <link rel="stylesheet" href="/dat/cerabox/style/cerabox.css" type="text/css" media="screen"/>
    <script type="text/javascript" src="/dat/cerabox/cerabox.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-1255418-8']);
      _gaq.push(['_setDomainName', 'none']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);
      (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
      })();
    </script>
</head>
<body>
<!--[if lt IE 7]><br><br><br><br>
<div style=' clear: both; height: 59px; padding:0 0 0 15px; position: relative; text-align:center;'> To view the web
    optimally:<br><a
            href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode"><img
            src="http://www.theie6countdown.com/images/upgrade.jpg{{ cache_buster }}" border="0" height="42" width="820"
            alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/></a><br><br>
</div> <![endif]-->
<noscript>
    <style type="text/css">#loading {
        display: none;
    }</style>
</noscript>
<div id="loading"></div>
<div id="header"></div>
<div id="site">
    <div id="links">
        <a href="#" style="display:none;">Home</a>
        <a href="#particulars">Particulars</a>
        <a href="#gallery">Gallery</a>
        <a href="#contact">Contact</a>
        <a href="#recognition">Recognition</a>
    </div>
    <div id="content">
        <div>
            <img src="/img/home.jpg{{ cache_buster }}" alt="Robert Miller, Designer"/>
        </div>
        <div>
            <a name="particulars"></a>
            <div class="heading">Particulars</div>

            <div class="tabs">

                <div>
                    <a href="#design" name="design"><img src="/img/process.jpg{{ cache_buster }}"/>Design Process</a>
                    <div>
                        <p>The following presentation explains the typical steps in creating designs, preparing
                            documentation, and following through with construction administration for a project:</p>
                        <div class="secbl">
                            <div class="t">Conceptual Design:</div>
                            <img class="l" src="/img/designprocess/conceptualdesign.jpg{{ cache_buster }}" title="Conceptual Design"/>
                            <div class="r">
                                At this time the client and designer must establish and nurture a strong personal
                                working relationship that is to be necessarily sustained throughout the duration of the
                                project. Together they must create, quantify and integrate the final project design and
                                theme. This is accomplished through design charette meetings in which pictures, finish
                                materials, tear sheets and other media and concepts are examined for compatibility and
                                suitability with the project design theme and requirements. Concepts which are approved
                                are catalogued for use in the design specifications manual. Once this has been
                                accomplished the design team incorporates these guidelines and milestones into
                                conceptual drawings and details for review and approval. Upon completion and conceptual
                                approval, the process moves forward to the schematic design phase.
                            </div>
                        </div>

                        <div class="secbl">
                            <div class="t">Schematic Design:</div>
                            <img class="l" src="/img/designprocess/schematicdesign.jpg{{ cache_buster }}" title="Schematic Design"/>
                            <div class="r">
                                Floor plans are now laid out and drawn to scale over the client's site, with elevations
                                of the project on full size sheets to review and revise as necessary. This is an
                                exciting time as our clients begin to see their project and vision materialize and take
                                real shape. Flow, scale, mass, and feeling are all addressed in detail. Importantly, the
                                central design theme must be maintained, expanded, and built upon.
                            </div>
                        </div>

                        <div class="secbl">
                            <div class="t">Design Development:</div>
                            <img class="l" src="/img/designprocess/designdevelopment.jpg{{ cache_buster }}" title="Design Development"/>
                            <div class="r">
                                From the schematic drawings we now develop more concise and detailed drawings that help
                                establish size, appearance, colors, equipment, and costs. Once the major materials have
                                been selected and approved, we may begin construction documents.
                            </div>
                        </div>

                        <div class="secbl">
                            <div class="t">Construction Documents:</div>
                            <img class="l" src="/img/designprocess/constructiondocumentation.jpg{{ cache_buster }}"
                                 title="Construction Documents"/>
                            <div class="r">
                                This phase begins after development drawings are reviewed and approved by the client.
                                These documents will include architectural drawings, details and specifications that
                                establish the quality of materials and systems to be utilized on the project. These
                                drawings will be used for the building permit, construction costing, and actual
                                construction and administration of the project. If changes occur, and they do, these
                                permitted drawings may be used to establish any cost change by means of a change order.
                                All change orders will have to be approved by client, designer, and contractor before
                                proceeding with the change.
                            </div>
                        </div>

                        <div class="secbl">
                            <div class="t">Construction Procurement:</div>
                            <img class="l" src="/img/designprocess/constructionprocurement.jpg{{ cache_buster }}"
                                 title="Construction Documents"/>
                            <div class="r">
                                In this phase we start selecting a group of contractors based on qualifications. Upon
                                completion of selection, the contractor and design team then begin actual bidding and
                                scheduling of the project. Once those items are complete and approved, actual
                                construction activities can begin.
                            </div>
                        </div>

                        <div class="secbl">
                            <div class="t">Construction Administration:</div>
                            <img class="l" src="/img/designprocess/contractadministration.jpg{{ cache_buster }}"
                                 title="Construction Administration"/>
                            <div class="r">
                                As the client's onsite representative, we make periodic jobsite inspections to determine
                                the progress to date and to ensure that construction activities are complying with the
                                contract documents. Additionally we review and respond to requests for information and
                                clarifications from the contractor, owner, and other project team members. We review and
                                approve contractor draw requests as well as meet with the contractor and his
                                subcontractors and suppliers. Our goal is always the successful completion of the
                                project to the client's satisfaction.
                            </div>
                        </div>

                        <div class="secbl">
                            <div class="t">Completed Project!</div>
                            <img src="/img/designprocess/finish.jpg{{ cache_buster }}" title="Completed Project!"/>
                        </div>
                    </div>
                </div>

                <div>
                    <a href="#profile" name="profile">
                        <div class="framed_image" style="width: 223px; margin-top: 16px; margin-bottom: 20px;"><img src="/img/profile.jpg{{ cache_buster }}"/></div>
                        Profile</a>
                    <div>
                        <p>
                            Robert Miller, Designer (The Miller Company) has designed and furnished a vast array of
                            lavish custom homes and developments. His accomplishments include: quality custom homes,
                            mid-rise condominiums, vacation resorts, hotels, apartments, small towns and private yachts.
                            Services have been performed for some of the most credible and well known individuals in the
                            hospitality and entertainment industry, as well as the private sector. Originally organized
                            in 1970, T.M.C. has been performing residential & commercial architectural/interior design,
                            contract purchasing, construction, and construction management for over forty-five years.
                            In 1977 Robert Miller established the RobertRose showroom in Honolulu, where he created
                            furnishings for the projects he designed. In the same style, T.M.C. opened another showroom
                            in the northwest, Sterling Chandler.
                        </p>
                        <p>
                            Casually elegant and graceful, yet uncomplicated, T.M.C. designs with an emphasis on classic
                            architecture and interiors. Space and proportion relate in harmony with the light sources,
                            surroundings, proportions, and textures. All are crucial when arriving at a pleasing and
                            harmonious conclusion. The result is a design that reflects the distinctive personality of
                            the region and it's era.
                        </p>
                        <p>
                            Attention to detail is ensured by T.M.C., who oversee each project, and accept only a
                            hand-full of projects per year. The design team consists of talented and qualified
                            architectural, structural engineers, interior designers and administrative personnel. These
                            individuals posses knowledge and resources to provide each client with the level of quality
                            service needed to ensure highly successful projects.
                        </p>
                        <p>
                            Our level of dedication does not stop with drawings, designs, and specifications. At T.M.C.
                            our level of commitment and pride in our work creates an environment in which we work
                            intimately, on a one to one basis, with project craftsman to ensure the proper esthetic and
                            functional execution of all elements. We achieve this through diligent coordination and
                            interpretation with precise attention to detail.
                        </p>
                        <p>
                            T.M.C.'s offices are located at Friday Harbor, in the San Juan Islands, Washington. T.M.C. routinely
                            travels to fulfill the needs of it's clients.
                        </p>
                        <p>
                            The scope of design services offered consists of:
                        </p>
                        <p>
                            Project/Site Consultation<br/>
                            Project/Site Planning/Development<br/>
                            Architectural Drawings/Details<br/>
                            2D & 3D Computer Generated Drawings/Renderings<br/>
                            Hand & Computer Colored Renderings<br/>
                            Remodeling Design/Consultation<br/>
                            Lighting Design/Consultation<br/>
                            Construction Administration<br/>
                            Engineering<br/>
                        </p>
                    </div>
                </div>

                <div>
                    <a href="#sketches" name="sketches"><img src="/img/capabilities.jpg{{ cache_buster }}"/>Sketches</a>
                    <div>
                        <div class="bigbl two">
                            <a href="/show/black_and_white_sketches" rel="lightbox">
                                <img src="/img/sketchesbw.jpg{{ cache_buster }}"/>
                                <div>B&W Sketches</div>
                            </a>
                        </div>
                        <div class="bigbl two">
                            <a href="/show/color_sketches" rel="lightbox">
                                <img src="/img/sketchescolor.jpg{{ cache_buster }}"/>
                                <div>Color Sketches</div>
                            </a>
                        </div>
                        <br clear="all"/>
                    </div>
                </div>

            </div>

            <img src="/img/portfoliolinehouse.jpg{{ cache_buster }}"/>
        </div>
        <div>
            <a name="gallery"></a>
            <div class="heading">Gallery</div>

            <div class="tabs">
                <div>
                    <a href="#residential" name="residential"><img src="/img/residentialdesign.jpg{{ cache_buster }}"/>Residential</a>
                    <div>
                        <div class="homebl">
                            <a href="/show/tahoe" rel="lightbox">
                                <div class="i"><img src="/img/gallery/tahoe/thumb.jpg{{ cache_buster }}"/></div>
                                <div class="t">Private Residence</div>
                                <div class="p">Northstar/Truckee, California</div>
                            </a>
                        </div>

                        <div class="homebl">
                            <a href="/show/sanjuan" rel="lightbox">
                                <div class="i"><img src="/img/gallery/sanjuan/thumb.jpg{{ cache_buster }}"/></div>
                                <div class="t">Private Residence</div>
                                <div class="p">San Juan Island, Washington</div>
                            </a>
                        </div>

                        <div class="homebl">
                            <a href="/show/serenity" rel="lightbox">
                                <div class="i"><img src="/img/gallery/serenity/thumb.jpg{{ cache_buster }}"/></div>
                                <div class="t">Serenity</div>
                                <div class="p">Alamo, California</div>
                            </a>
                        </div>

                        <div class="homebl">
                            <a href="/show/medina" rel="lightbox">
                                <div class="i"><img src="/img/gallery/medina/thumb.jpg{{ cache_buster }}"/></div>
                                <div class="t">Private Residence</div>
                                <div class="p">Medina, Minnesota</div>
                            </a>
                        </div>

                        <div class="homebl">
                            <a href="/show/lot8" rel="lightbox">
                                <div class="i"><img src="/img/gallery/lot8/thumb.jpg{{ cache_buster }}"/></div>
                                <div class="t">Private Residence</div>
                                <div class="p">Snowmass Village, Colorado</div>
                            </a>
                        </div>

                        <div class="homebl">
                            <a href="/show/palmsprings" rel="lightbox">
                                <div class="i"><img src="/img/gallery/palmsprings/thumb.jpg{{ cache_buster }}"/></div>
                                <div class="t">Private Residence</div>
                                <div class="p">Palm Springs, California</div>
                            </a>
                        </div>

                        <div class="homebl">
                            <a href="/show/willowbend" rel="lightbox">
                                <div class="i"><img src="/img/gallery/willowbend/thumb.jpg{{ cache_buster }}"/></div>
                                <div class="t">Private Residence</div>
                                <div class="p">Coeur D' Alene, Idaho</div>
                            </a>
                        </div>

                        <div class="homebl">
                            <a href="/show/lot2" rel="lightbox">
                                <div class="i"><img src="/img/gallery/lot2/thumb.jpg{{ cache_buster }}"/></div>
                                <div class="t">Private Residence</div>
                                <div class="p">Snowmass Village, Colorado</div>
                            </a>
                        </div>

                        <div class="homebl">
                            <a href="/show/hawaii" rel="lightbox">
                                <div class="i"><img src="/img/gallery/hawaii/thumb.jpg{{ cache_buster }}"/></div>
                                <div class="t">Private Residence</div>
                                <div class="p">Diamond Head, Hawaii</div>
                            </a>
                        </div>

                        <div class="homebl">
                            <a href="/show/thousandoaks" rel="lightbox">
                                <div class="i"><img src="/img/gallery/thousandoaks/thumb.jpg{{ cache_buster }}"/></div>
                                <div class="t">Thousand Oaks</div>
                                <div class="p">Alamo, California</div>
                            </a>
                        </div>

                        <div class="homebl">
                            <a href="/show/sanfranpent" rel="lightbox">
                                <div class="i"><img src="/img/gallery/sanfranpent/thumb.jpg{{ cache_buster }}"/></div>
                                <div class="t">San Francisco Penthouse</div>
                                <div class="p">SanFrancisco, California</div>
                            </a>
                        </div>

                        <div class="homebl">
                            <a href="/show/hombeyhills" rel="lightbox">
                                <div class="i"><img src="/img/gallery/hombeyhills/thumb.jpg{{ cache_buster }}"/></div>
                                <div class="t">Hombey Hills</div>
                                <div class="p">Los Angeles, California</div>
                            </a>
                        </div>

                        <div class="homebl">
                            <a href="/show/kiddisland" rel="lightbox">
                                <div class="i"><img src="/img/gallery/kiddisland/thumb.jpg{{ cache_buster }}"/></div>
                                <div class="t">Private Residence</div>
                                <div class="p">Kidd Island, Idaho</div>
                            </a>
                        </div>

                        <div class="homebl">
                            <a href="/show/orcas" rel="lightbox">
                                <div class="i"><img src="/img/gallery/orcas/thumb.jpg{{ cache_buster }}"/></div>
                                <div class="t">Private Residence</div>
                                <div class="p">Orcas Island, Washington</div>
                            </a>
                        </div>

                        <div class="homebl">
                            <a href="/show/lot1" rel="lightbox">
                                <div class="i"><img src="/img/gallery/lot1/thumb.jpg{{ cache_buster }}"/></div>
                                <div class="t">Private Residence</div>
                                <div class="p">Snowmass Village, Colorado</div>
                            </a>
                        </div>

                        <div class="homebl">
                            <a href="/show/napavalley" rel="lightbox">
                                <div class="i"><img src="/img/gallery/napavalley/thumb.jpg{{ cache_buster }}"/></div>
                                <div class="t">Private Residence</div>
                                <div class="p">Napa Valley, California</div>
                            </a>
                        </div>

                        <div class="homebl">
                            <a href="/show/hahn" rel="lightbox">
                                <div class="i"><img src="/img/gallery/hahn/thumb.jpg{{ cache_buster }}"/></div>
                                <div class="t">Private Residence</div>
                                <div class="p">Hawaii</div>
                            </a>
                        </div>

                        <div class="homebl">
                            <a href="/show/tipplewood" rel="lightbox">
                                <div class="i"><img src="/img/gallery/tipplewood/thumb.jpg{{ cache_buster }}"/></div>
                                <div class="t">Private Residence</div>
                                <div class="p">Aspen, Colorado</div>
                            </a>
                        </div>

                        <div class="homebl">
                            <a href="/show/kahala" rel="lightbox">
                                <div class="i"><img src="/img/gallery/kahala/thumb.jpg{{ cache_buster }}"/></div>
                                <div class="t">Kahala Home</div>
                                <div class="p">Kahala, Hawaii</div>
                            </a>
                        </div>

                        <div class="homebl">
                            <a href="/show/snowmass7" rel="lightbox">
                                <div class="i"><img src="/img/gallery/snowmass7/thumb.jpg{{ cache_buster }}"/></div>
                                <div class="t">SnowMass # 7</div>
                                <div class="p">SnowMass Village</div>
                            </a>
                        </div>

                        <div class="homebl">
                            <a href="/show/wilshire" rel="lightbox">
                                <div class="i"><img src="/img/gallery/wilshire/thumb.jpg{{ cache_buster }}"/></div>
                                <div class="t">Wilshire Condo</div>
                                <div class="p">Beverly Hills, California</div>
                            </a>
                        </div>

                        <div class="homebl">
                            <a href="/show/sellekhawaii" rel="lightbox">
                                <div class="i"><img src="/img/gallery/sellekhawaii/thumb.jpg{{ cache_buster }}"/></div>
                                <div class="t">Tom Sellek's Private Residence</div>
                                <div class="p">Hawaii</div>
                            </a>
                        </div>

                        <div class="homebl">
                            <a href="/show/waiikii" rel="lightbox">
                                <div class="i"><img src="/img/gallery/waiikii/thumb.jpg{{ cache_buster }}"/></div>
                                <div class="t">Private Residence</div>
                                <div class="p">Hawaii</div>
                            </a>
                        </div>

                        <div class="homebl">
                            <a href="/show/burnett" rel="lightbox">
                                <div class="i"><img src="/img/gallery/burnett/thumb.jpg{{ cache_buster }}"/></div>
                                <div class="t">Carol Burnett's Private Residence</div>
                                <div class="p">Hawaii</div>
                            </a>
                        </div>

                        <br clear="all"/>

                    </div>
                </div>
                <div>
                    <a href="#commercial" name="commercial"><img src="/img/commercialdesign.jpg{{ cache_buster }}"/>Commercial</a>
                    <div>

                        <div class="homebl">
                            <a href="/show/waterford" rel="lightbox">
                                <div class="i"><img src="/img/gallery/waterford/thumb.jpg{{ cache_buster }}"/></div>
                                <div class="t">Waterford Place</div>
                                <div class="s">Luxury Condominiums</div>
                                <div class="p">Richland, Washington</div>
                            </a>
                        </div>

                        <div class="homebl">
                            <a href="/show/ladera" rel="lightbox">
                                <div class="i"><img src="/img/gallery/ladera/thumb.jpg{{ cache_buster }}"/></div>
                                <div class="t">Ladera Vineyards</div>
                                <div class="s">450 Acre Vineyard Winery</div>
                                <div class="p">Angwin, Napa Valley, California</div>
                            </a>
                            <a class="rl" target="_blank" href="http://laderavineyards.com">>> Visit Web Site</a>
                        </div>

                        <div class="homebl">
                            <a href="/show/nineoneone" rel="lightbox">
                                <div class="i"><img src="/img/gallery/nineoneone/thumb.jpg{{ cache_buster }}"/></div>
                                <div class="t">911 Spirit of America Memorial</div>
                                <div class="p">Cashmere, Washington</div>
                            </a>
                            <a class="rl" target="_blank" href="http://911spiritofamericamemorial.com/home">>> Visit Web Site</a>
                        </div>

                        <div class="homebl">
                            <a href="/show/maunakea" rel="lightbox">
                                <div class="i"><img src="/img/gallery/maunakea/thumb.jpg{{ cache_buster }}"/></div>
                                <div class="t">Mauna Kea Beach Hotel</div>
                                <div class="s">330 Room Hotel - interiors</div>
                                <div class="p">Kohala Coast, Hawaii</div>
                            </a>
                            <a class="rl" target="_blank" href="https://www.princeresortshawaii.com/mauna-kea-beach-hotel">>> Visit Web
                                Site</a>
                        </div>

                        <div class="homebl">
                            <a href="/show/stoneybrook" rel="lightbox">
                                <div class="i"><img src="/img/gallery/stoneybrook/thumb.jpg{{ cache_buster }}"/></div>
                                <div class="t">Stoney Brook</div>
                                <div class="s">285 Zero Lot Line Unit Project</div>
                                <div class="p">Denver, Colorado</div>
                                <!--<span class="hilight">Winner of the 1976 Golden Nugget Award</span>-->
                            </a>
                        </div>

                        <div class="homebl">
                            <a href="/show/makanikaimarina" rel="lightbox">
                                <div class="i"><img src="/img/gallery/makanikaimarina/thumb.jpg{{ cache_buster }}"/></div>
                                <div class="t">Makani Kai Marina</div>
                                <div class="s">79 Unit Condo / Slip Project</div>
                                <div class="p">Kaneowe Bay, Hawaii</div>
                            </a>
                            <a class="rl" target="_blank" href="http://mkmarina.org">>> Visit Web Site</a>
                        </div>

                        <div class="homebl">
                            <a href="/show/tortuga" rel="lightbox">
                                <div class="i"><img src="/img/gallery/tortuga/thumb.jpg{{ cache_buster }}"/></div>
                                <div class="t">Tortuga</div>
                                <div class="s">285 Condominiums</div>
                                <div class="p">Sarasota, Florida</div>
                            </a>
                        </div>

                        <div class="homebl">
                            <a href="/show/casadeemdeko" rel="lightbox">
                                <div class="i"><img src="/img/gallery/casadeemdeko/thumb.jpg{{ cache_buster }}"/></div>
                                <div class="t">Casa De Emdeko</div>
                                <div class="s">106 Unit Condo Project</div>
                                <div class="p">Kaiwa-Kona, Hawaii</div>
                            </a>
                            <a class="rl" target="_blank" href="http://casadeemdeko.org">>> Visit Web Site</a>
                        </div>

                        <div class="homebl">
                            <a href="/show/arrowpoint" rel="lightbox">
                                <div class="i"><img src="/img/gallery/arrowpoint/thumb.jpg{{ cache_buster }}"/></div>
                                <div class="t">Arrow Point Resort</div>
                                <div class="s">100 Condo Units Project</div>
                                <div class="p">Coeur d' Alene, Idaho</div>
                            </a>
                            <a class="rl" target="_blank"
                               href="http://www.worldmarktheclub.com/resorts/ap/index.shtml">>> Visit Web Site</a>
                        </div>

                        <div class="homebl">
                            <a href="/show/thepark" rel="lightbox">
                                <div class="i"><img src="/img/gallery/thepark/thumb.jpg{{ cache_buster }}"/></div>
                                <div class="t">The Park</div>
                                <div class="s">104 Zero Lot Line Homes</div>
                                <div class="p">Denver, Colorado</div>
                            </a>
                        </div>

                        <br clear="all"/>

                    </div>
                </div>
                <div>
                    <a href="#specialty" name="specialty"><img src="/img/specialtydesign.jpg{{ cache_buster }}"/>Specialty</a>
                    <div>

                        <div class="homebl">
                            <a href="/show/sherekhan" rel="lightbox">
                                <div class="i"><img src="/img/gallery/sherekhan/thumb.jpg{{ cache_buster }}"/></div>
                                <div class="t">The Shere Khan</div>
                                <div class="s">92' Motor Sailer</div>
                                <div class="p">Auckland, New Zealand</div>
                            </a>
                        </div>

                        <div class="homebl">
                            <a href="/show/sterlingchandler" rel="lightbox">
                                <div class="i"><img src="/img/gallery/sterlingchandler/thumb.jpg{{ cache_buster }}"/></div>
                                <div class="t">Sterling Chandler</div>
                                <div class="s">Interior Showroom</div>
                                <div class="p">Coeur d' Alene, Idaho</div>
                            </a>
                        </div>

                        <div class="homebl">
                            <a href="/show/exotica" rel="lightbox">
                                <div class="i"><img src="/img/gallery/exotica/thumb.jpg{{ cache_buster }}"/></div>
                                <div class="t">Exotica</div>
                                <div class="s">85' Viareggio Yacht</div>
                                <div class="p">Fort Lauderdale, Florida</div>
                            </a>
                        </div>

                        <div class="homebl">
                            <a href="/show/robertrose" rel="lightbox">
                                <div class="i"><img src="/img/gallery/robertrose/thumb.jpg{{ cache_buster }}"/></div>
                                <div class="t">RobertRose</div>
                                <div class="s">Interior Showroom</div>
                                <div class="p">Honolulu, Hawaii</div>
                            </a>
                        </div>

                        <div class="homebl">
                            <a href="/show/westlake" rel="lightbox">
                                <div class="i"><img src="/img/gallery/westlake/thumb.jpg{{ cache_buster }}"/></div>
                                <div class="t">Private Residence</div>
                                <div class="s">Interior Design</div>
                                <div class="p">West Lake, California</div>
                            </a>
                        </div>

                        <div class="homebl">
                            <a href="/show/sandpoint" rel="lightbox">
                                <div class="i"><img src="/img/gallery/sandpoint/thumb.jpg{{ cache_buster }}"/></div>
                                <div class="t">Private Residence</div>
                                <div class="s">Interior Design</div>
                                <div class="p">Sandpoint, Idaho</div>
                            </a>
                        </div>

                        <br clear="all"/>

                    </div>
                </div>
                <div>
                    <a href="#progress" name="progress"><img src="/img/inprogress.jpg{{ cache_buster }}"/>In Progress</a>
                    <div>

                        <div class="homebl">
                            <a href="/show/turnpointcove" rel="lightbox">
                                <div class="i"><img src="/img/gallery/turnpointcove/thumb.jpg{{ cache_buster }}"/></div>
                                <div class="t">Hotel / Condominium</div>
                                <div class="s">Friday Harbor</div>
                                <div class="p">San Juan Islands</div>
                            </a>
                        </div>

                        <div class="homebl">
                            <a href="/show/sarasota" rel="lightbox">
                                <div class="i"><img src="/img/gallery/sarasota/thumb.jpg{{ cache_buster }}"/></div>
                                <div class="t">Private Residence</div>
                                <div class="p">Sarasota, Florida</div>
                            </a>
                        </div>

                        <div class="homebl">
                            <a href="/show/quailcrossing" rel="lightbox">
                                <div class="i"><img src="/img/gallery/quailcrossing/thumb.jpg{{ cache_buster }}"/></div>
                                <div class="t">Private Residence</div>
                                <div class="p">San Juan Islands, Washington</div>
                            </a>
                        </div>

                        <div class="homebl">
                            <a href="/show/tacoma" rel="lightbox">
                                <div class="i"><img src="/img/gallery/tacoma/thumb.jpg{{ cache_buster }}"/></div>
                                <div class="t">Private Residence</div>
                                <div class="p">Tacoma, Washington</div>
                            </a>
                        </div>

                        <div class="homebl">
                            <a href="/show/ecocity" rel="lightbox">
                                <div class="i"><img src="/img/gallery/ecocity/thumb.jpg{{ cache_buster }}"/></div>
                                <div class="t">Eco City</div>
                                <div class="s">Musallamiya Bay</div>
                                <div class="p">Saudi Arabia</div>
                            </a>
                        </div>

                        <!--<div class="homebl">
                            <a href="/show/snowmassclub" rel="lightbox">
                                <div class="i"><img src="/img/gallery/snowmassclub/thumb.jpg{{ cache_buster }}" /></div>
                                <div class="t">SnowMass Club</div>
                                <div class="s">&nbsp;</div>
                                <div class="p">SnowMass Village</div>
                            </a>
                        </div>-->

                        <div class="homebl">
                            <a href="/show/snowmassranch" rel="lightbox">
                                <div class="i"><img src="/img/gallery/snowmassranch/thumb.jpg{{ cache_buster }}"/></div>
                                <div class="t">Horse Ranch</div>
                                <div class="p">SnowMass Village</div>
                            </a>
                        </div>

                        <div class="homebl">
                            <a href="/show/indiana" rel="lightbox">
                                <div class="i"><img src="/img/gallery/indiana/thumb.jpg{{ cache_buster }}"/></div>
                                <div class="t">Private Residence</div>
                                <div class="p">Indiana</div>
                            </a>
                        </div>

                        <div class="homebl">
                            <a href="/show/illinois" rel="lightbox">
                                <div class="i"><img src="/img/gallery/illinois/thumb.jpg{{ cache_buster }}"/></div>
                                <div class="t">Private Residence</div>
                                <div class="p">Illinois</div>
                            </a>
                        </div>

                        <br clear="all"/>

                    </div>
                </div>
            </div>

            <img src="/img/gallerylinehouse.png{{ cache_buster }}"/>
        </div>
        <div>
            <a name="contact"></a>
            <div class="heading">Contact Robert Miller</div>
            <br/>
            <table align="center" width="500">
                <tr>
                    <td class="hilight">Address:</td>
                    <td aligh="left">640 Nash St, Friday Harbor<br/>San Juan Islands, Washington   98250</td>
                </tr>
                <tr>
                    <td class="hilight">Phone:</td>
                    <td aligh="left">208-691-0681</td>
                </tr>
                <tr>
                    <td class="hilight">Email:</td>
                    <td aligh="left"><a
                            href="mailto:RobertMillerDesigner@gmail.com">RobertMillerDesigner@gmail.com</a></td>
                </tr>
            </table>
            <br/><br/>
            <img src="/img/contacthousenight.jpg{{ cache_buster }}"/>
        </div>
        <div>
            <a name="recognition"></a>
            <div class="heading">Recognition</div>
            <div class="subhead">Robert Miller's designs have been featured in leading magazines and on
                television.
            </div>
            <div class="subsubh">Several Mentions Are:</div>

            <br/><br/>

            <div class="bl">
                <a href="/img/recognition/daarticle.pdf" target="_blank">
                    <img src="/img/recognition/builder.jpg{{ cache_buster }}"/>
                    <div>>> View PDF</div>
                </a>
            </div>

            <div class="bl">
                <a href="/img/recognition/trendsbeson.pdf" target="_blank">
                    <img src="/img/recognition/trends.jpg{{ cache_buster }}"/>
                    <div>>> View PDF</div>
                </a>
                <a class="rl" href="/show/sanjuan" rel="lightbox">>> View Slideshow</a><br/>
                <a class="rl" target="_blank"
                   href="http://trendsideas.com/ViewArticle.aspx?article=6571&region=4&book=129">>> View Site</a>
            </div>

            <div class="bl">
                <a href="/img/recognition/uniquehomes-hawaii.pdf" target="_blank">
                    <img src="/img/recognition/unique.jpg{{ cache_buster }}"/>
                    <div>>> View PDF</div>
                </a>
                <a href="/show/hawaii" rel="lightbox">>> View Slideshow</a>
            </div>

            <div class="bl">
                <a href="/show/sanjuan" rel="lightbox">
                    <img src="/img/recognition/travelchannel.jpg{{ cache_buster }}"/>
                    <div>>> View Slideshow</div>
                </a>
            </div>

            <div class="bl">
                <a href="/show/kiddisland" rel="lightbox">
                    <img src="/img/recognition/spokane.jpg{{ cache_buster }}"/>
                    <div>>> View Slideshow</div>
                </a>
            </div>

            <br clear="all"/>
            <br/>
        </div>
    </div>
    <div id="footer">
        <div id="siteAudio">
            <audio src="/aud/bg.mp3" controls="controls" onended="this.play();"></audio>
        </div>
        <!--<a href="http://AubreyFalconer.com" target="_blank">Design by Aubrey Falconer</a>-->
    </div>
</div>
</body>
</html>